.hour{
    display:flex;
    border-style:border-box;
    width:500px;
    height:200px;
    border:2px solid black;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    font-size:100px;
}
button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: rgb(245, 177, 7);
    margin-left: 100px;
    margin-top: 30px;
}
.lap{
    font-size: 20px;
    font-weight: 600;
}
.laphr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
    border:1px solid black;
    margin-left: 150px;
}